/*
   Admin Menu
*/

#adminmenu #menu-posts-person .wp-menu-image {
	background-image: url("../images/menu.png");
	background-position: 0px -3px;
}
#adminmenu #menu-posts-person:hover .wp-menu-image, #adminmenu #menu-posts-person.wp-menu-open .wp-menu-image {
	background-position: 0px -35px;
}
#adminmenu #menu-posts-person .wp-submenu-wrap li a span.current {
	color: #333;
	font-weight: bold;
}
#icon-edit.icon32-posts-person {
	background-image: url("../images/screen.png");
	background-position: -4px -6px;
}

/*
   Writepanel
*/

#people-information-box {
	overflow: hidden;
}
#people-information-box .form-fieldset {
	display: block;
	margin: 0px;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 24px;
	clear: both;
	overflow: hidden;
	position: relative;
}
#people-information-box .form-fieldset label {
	float: left;
	width: 33%;
	padding: 0;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#people-information-box .form-fieldset input,
#people-information-box .form-fieldset select,
#people-information-box .form-fieldset .input-group {
	float: right;
	width: 65%;
}
#people-information-box .form-fieldset .input-group {
	position: relative;
	display: block;
}